@font-face{
	font-family: 'Calluna Regular';
	src: url('../assets/fonts/Calluna-Regular-webfont.eot');
	src: url('../assets/fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../assets/fonts/Calluna-Regular-webfont.woff') format('woff'),
	     url('../assets/fonts/Calluna-Regular-webfont.ttf') format('truetype'),
	     url('../assets/fonts/Calluna-Regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Calluna Bold';
	src: url('../assets/fonts/Calluna-Bold-webfont.eot');
	src: url('../assets/fonts/Calluna-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../assets/fonts/Calluna-Bold-webfont.woff') format('woff'),
	     url('../assets/fonts/Calluna-Bold-webfont.ttf') format('truetype'),
	     url('../assets/fonts/Calluna-Bold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Calluna Italic';
	src: url('../assets/fonts/Calluna-It-webfont.eot');
	src: url('../assets/fonts/Calluna-It-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../assets/fonts/Calluna-It-webfont.woff') format('woff'),
	     url('../assets/fonts/Calluna-It-webfont.ttf') format('truetype'),
	     url('../assets/fonts/Calluna-It-webfont.svg#webfont') format('svg');
}
