.container-sm {
  max-width: $container-sm;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  max-width: $container-md;
  margin-left: auto;
  margin-right: auto;
}

.container-lg {
  max-width: $container-lg;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  max-width: $container-xl;
  margin-left: auto;
  margin-right: auto;
}
