.text-xs {
  font-size: $text-xs;
}

.text-sm {
  font-size: $text-sm;
}

.text-base {
  font-size: $text-base;
}

.text-md {
  font-size: $text-md;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

.text-2xl {
  font-size: $text-2xl;
}

.text-3xl {
  font-size: $text-3xl;
}

.text-4xl {
  font-size: $text-4xl;
}

.text-5xl {
  font-size: $text-5xl;
}
