// Font Size
$text-xs: .75rem;
$text-sm: .875rem;
$text-base: 1rem;
$text-md: 1.125rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-2xl: 1.875rem;
$text-3xl: 2.25rem;
$text-4xl: 3rem;
$text-5xl: 5rem;

// Containers
$container-sm: 576px;
$container-md: 768px;
$container-lg: 992px;
$container-xl: 1200px;
